* {
    /* border: 1px solid red !important; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Verdana", sans-serif; */
    /* font-family: "Tahoma", sans-serif; */
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

body p {
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: SteelBlue;
}

a:hover {
    text-decoration: underline;
}

/* #names h1 { */
/*     padding-bottom: 0.2em; */
/* } */

hr {
    margin: 1.5em 0;
}


/* @media only screen and (max-width: 500px) { */
/*     p { */
/* 	display: none; */
/*     } */
/* } */

.row {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    width: 85%;
}

.col-1 {
    width: 8.33%
}

.col-2 {
    width: 16.67%
}

.col-3 {
    width: 25.00%
}

.col-4 {
    width: 33.33%
}

.col-5 {
    width: 41.67%
}

.col-6 {
    width: 50.00%
}

.col-7 {
    width: 58.33%
}

.col-8 {
    width: 66.67%
}

.col-9 {
    width: 75.00%
}

.col-10 {
    width: 83.33%
}

.col-11 {
    width: 91.67%
}

.col-12 {
    width: 100.00%
}

.img-circle {
    border-radius: 50%;
}

.project {
    margin-bottom: 1em;
    margin-top: 1em;
}

.project-title {
    font-weight: bold;
}

.project-link {
}

#header-stuffs {
    background-color: SteelBlue;
}

#headshot {
    border: 2px solid white;
    /* margin: auto 16px; */
    margin-left: 20px;
    width: 200px;
    position: relative;
    top: 32px;
}

#header-text {
    color: #f0f0f0;
    margin: auto auto auto 16px;
}

#header-text-name {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 8px;
}

#header-text-class {
    font-size: 1em;
}

#nav_0 {
    margin: 2.5em 0 1em 0;
}

#nav_0 ul {
    list-style-type: none;
}

#nav_0 li {
    display: inline;
    padding-right: 0.5em;
}

#nav_0 li .icon {
    padding-right: 0.3em;
}

#nav_0 a {
}

